body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  min-width: 100%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-form {
  background-color: #fff;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-heading {
  margin-bottom: 10px;
  color: #228755;
}

.input-field,
.textarea-field {
  width: calc(100% - 22px); /* Adjusted for border width */
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: #218838;
}

.upload-heading {
  color: #333;
  margin-bottom: 10px;
}
.file-input {
  display: inline-block;
  margin-bottom: 20px;
  color: #30c379;
}

.upload-btn {
  padding: 5px 10px;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #218838;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.image-container img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .post-form {
    padding: 20px;
  }

  .input-field,
  .textarea-field,
  .file-input,
  .submit-btn,
  .upload-btn {
    padding: 8px;
    margin-bottom: 15px;
  }
}

.success-post {
  position: relative;
  max-width: 1000px;
  margin: 50px auto;
  padding: 40px; /* Increased padding */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Set flex direction to column */
  justify-content: center;
}

.success-post h1 {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px;
}

.success-post h3 {
  color: #218838;
  font-size: 24px; /* Increased font size */
  margin-bottom: 15px; /* Adjusted margin */
}

.success-post h4 {
  color: #666; /* Adjusted color */
  font-size: 18px; /* Increased font size */
  margin-bottom: 20px; /* Adjusted margin */
}

.image-success-container {
  display: flex; /* Use Flexbox */
  flex-direction: row; /* Set flex direction to row for images */
  margin: 0 auto;
}

.success-post img {
  flex: 0 0 50%; /* Set width to 50% for each image */
  max-width: 50%; /* Ensure images don't exceed container width */
  height: auto;
  border-radius: 5px;
  margin: 2px 5px 2px 5px; /* Adjusted margin */
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .success-post {
    padding: 20px; /* Adjusted padding */
  }

  .success-post h1 {
    font-size: 24px;
  }

  .success-post h3 {
    font-size: 20px;
  }

  .success-post h4 {
    font-size: 16px;
  }

  .image-success-container {
    display: flex;
    flex-direction: column; /* Adjust layout for smaller screens */
    align-items: center; /* Center items horizontally */
    gap: 2px; /* Add gap between images */
  }

  .success-post img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px; /* Adjusted margin */
    border-radius: 5px;
  }
}
.fa-hashtag {
  color: green;
}
.uploadedPostFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.uploadedPostFeed h1 {
  text-align: left;
  color: #218838; /* Updated color */
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

.uploadedPostFeed h2 {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #218838;
}
.hashtagsPosts {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-transform: lowercase;
  width: fit-content;
}

#post-hashtags {
  padding: 2px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-family: bold;
}

#post-hashtags option {
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
}

#post-hashtags:hover {
  border-color: #218838; /* Change border color on hover */
}

.hashtags-likes {
  display: flex;
  align-items: center;
}
.hashtags-likes i {
  display: block;
  color: green;
}
.filter-button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filter-hashtag-button-view {
  background-color: #30c379; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 8px; /* Adjust padding for spacing */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add smooth transition for background color */
  width: fit-content;
  margin-left: 10px;
}

.filter-hashtag-button-view:hover {
  background-color: #218838; /* Darker background color on hover */
}

@media screen and (max-width: 600px) {
  .uploadedPostFeed {
    padding: 20px;
    width: auto;
  }

  .uploadedPostFeed h1 {
    font-size: 24px;
  }
}
.postFeed {
  display: flex; /* Set display to flex to arrange items in a row */
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
}

.postFeed img {
  max-width: 45%; /* Ensure images don't exceed their container width */
  display: flex;
  height: auto;
  border-radius: 8px;
  margin: 10px auto;
  /* border: 2px solid #218838;  */
}

.post-images {
  display: flex;
  gap: 1px;
}
.postFeed h3 {
  font-size: 18px; /* Increased font size */
  color: #218838;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 900;
}

.postFeed h4 {
  font-size: 16px; /* Increased font size */
  color: #333; /* Updated color */
  margin-bottom: 10px;
  text-align: left;
  font-weight: 400;
}

.label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.image-container img {
  display: flex;
  flex-direction: row;
}
.filter-button-div form {
  display: flex;
  align-items: center;
}
.filter-icon {
  font-size: 1em;
  color: green;
}
/* Add media query for smaller screens */
@media screen and (max-width: 600px) {
  .postFeed {
    max-width: 100%;
  }

  .postFeed h3 {
    font-size: 16px; /* Adjusted font size */
  }

  .postFeed h4 {
    font-size: 14px;
  }
}

header {
  margin: 0;
  background-color: #218838;
  padding: 25px 20px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  display: block;
}

.logo {
  color: white;
  margin: 0;
  text-decoration: none;
  font-size: 30px;
}
.logo:hover,
a:hover {
  color: rgb(239, 234, 234);
}
a {
  text-decoration: none;
  font-size: 18px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-weight: 800;
}
.view-post-btn-div {
  display: flex;
  justify-content: flex-end;
}
.viewPost-btn {
  margin: 20px 0;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }

  button a {
    padding: 8px 16px;
  }
}

.viewPost-btn:hover {
  background-color: #218838;
}

@media screen and (max-width: 600px) {
  .viewPost-btn {
    bottom: 10px;
    right: 10px;
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* sign up + login */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the container */
  height: 100vh; /* Make the container take up the full height of the viewport */
}

.signup-form {
  width: 80%; /* Make the form 80% of the container width */
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #30c379;
}

.signup-form h2 {
  text-align: center;
  color: #218838;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-form button {
  padding: 10px 20px;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #218838;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .signup-form {
    padding: 10px;
  }

  .signup-form h2 {
    font-size: 20px;
  }

  .signup-form input,
  .signup-form button {
    font-size: 14px;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #30c379;
}

.login-form h2 {
  text-align: center;
  color: #218838;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #218838;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .login-form {
    padding: 10px;
  }

  .login-form h2 {
    font-size: 20px;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
  }
}

.login-form p {
  margin: 5px auto;
}

.login-form a {
  color: #218838;
}

.login-form a:hover {
  color: #218838;
  font-weight: bolder;
}

.fa-sign-in-alt {
  color: white;
}
.logout-button .fa-sign-in-alt:hover {
  color: rgb(156, 16, 16);
}

.comments{
  width: 100%;
}

#comments-container  {
    margin-top: 20px;
    width:fit-content;
}

#comment-form {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#comment-form textarea {
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#comments-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#comment-form i {
  color: #30c379;
  font-size: 30px;
}

#comment-form:hover i {
  color: #218838;
}


.comment {
  width: fit-content;
  margin-top: 5px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  #comment-form i {
    font-size: 20px;
  }
  
  #comment-form textarea {
    height: 25px;
  }
}

#errorMessage{
  color:red;
  margin: 5px;
}

.showComments button {
  padding: 10px 20px;
  background-color: #30c379;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.showComments button:hover {
  background-color: #218838;
}
