<title>Sign Up</title>
<div class="signup-container">
  <div class="signup-form">
    <h2>Sign up to get started</h2>
    <form hx-post="/signup" hx-target="#errorMessage">
      <input
        type="email"
        name="email"
        placeholder="Please enter your email address" />
      <input
        type="password"
        name="password"
        placeholder="Please enter a password" />
      <div id="errorMessage"></div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
