<div class="uploadedPostFeed">
  <h2>Here you can see posts from the community 🧼</h2>
  <div class="filter-button-div">
    <form action="/viewPost" method="get">
      <label for="photo-hashtag-filter" class="select-hashtags">
        <i class="fas fa-filter filter-icon"></i> &nbsp;</label
      >
      <select name="hashtags" id="post-hashtags" onchange="this.form.submit()">
        <option value="">all posts</option>
        {{range .AvailableHashtags}}
        <option value="{{ . }}" {{if eq . $.SelectedHashtag}} selected {{end}}>
          {{.}}
        </option>
        {{end}}
      </select>
    </form>
  </div>

  {{ range .Posts}}
  <div class="postFeed" id="postFeed">
    <p>Date Posted: {{.DisplayTime}}</p>
    <div class="post-images">
      {{if .PhotoURL}}
      <img src="{{.PhotoURL}}" />
      {{end}} {{if .PhotoURLAfter}}
      <img src="{{.PhotoURLAfter}}" />
      {{end}}
    </div>
    <h3>{{.Title}}</h3>
    <h4>{{.Description}}</h4>

    <div class="hashtags-likes">
      <p class="hashtagsPosts">{{.Hashtags}}</p>
      <button
        class="likes-button"
        hx-post="/like/{{.ID}}"
        hx-target="#likeCount{{.ID}}">
        <i class="fas fa-heart"></i>
      </button>
      <span class="like-count" id="likeCount{{ .ID }}">{{.Likes}}</span>
    </div>
    <div class="comments">
      <div class="new-comment-container">
        <form
          id="comment-form"
          hx-post="/comments"
          hx-target=".comments-container"
          hx-swap="afterbegin"
          hx-on::after-request="if(event.detail.successful) this.reset()">
          <textarea
            name="comment"
            placeholder="Write your comment here..."></textarea>
          <input type="hidden" value="{{.ID}}" name="PostID" />
          <button type="submit"><i class="fas fa-comment"></i></button>
        </form>
      </div>
      <div class="comments-container">
        {{ range .Comment}}
        <div class="comment">{{.Comment}}</div>
        {{end}}
      </div>
    </div>

    {{end}}
  </div>
</div>
